:root {
  --white: #eeeeee;
  --black: #000000;
  --primary: #4e4feb;
  --secondary: #068fff;
}

:root {
  --color-background: var(--white);
  --color-text: var(--black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black);
    --color-text: var(--white);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
}
